<app-header></app-header>

<div class="zip_code_panel">
  <div class="fillable_cards">
    <mat-card class="zip_code_form">
      <form id="zipCodeForm" [formGroup]="zipCodeForm">
        <mat-form-field class="form_input zip_code_input" appearance="fill">
          <mat-label>Zip Code</mat-label>
          <input matInput name="zipCode" formControlName="zipCode" type="number" placeholder="Zip Code" />
        </mat-form-field>
      </form>
    </mat-card>
  </div>

  <app-common-panel></app-common-panel>
</div>
