.zip_code_panel {
  display: flex;
  justify-content: space-between;

  .fillable_cards {
    width: 335px;
  }

  .zip_code_form {
    background-color: gainsboro;
    padding: 1rem;
  }

  .form_input {
    width: 290px;
  }

  app-common-panel {
    flex-basis: 250px;
    height: 447px;
    padding: 0;
  }
}
