<app-header></app-header>

<div class="name_panel">
  <div class="fillable_cards">
    <mat-card class="name_form">
      <form id="nameForm" [formGroup]="NameForm">
        <mat-form-field class="form_input name_input" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput name="Name" formControlName="Name" type="text" placeholder="Name" />
        </mat-form-field>
        <mat-form-field class="form_input surname_input" appearance="fill">
          <mat-label>Surname</mat-label>
          <input matInput name="Surname" formControlName="Surname" type="text" placeholder="Surname" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select country</mat-label>
          <mat-select formControlName="Country">
            <mat-option value="Belarus">Belarus</mat-option>
            <mat-option value="Poland">Poland</mat-option>
            <mat-option value="Ukraine">Ukraine</mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="SaveName()">Save</button>
      </form>
    </mat-card>

    <mat-card class="email_and_options_form">
      <form id="emailForm" [formGroup]="EmailAndOptionsForm">
        <mat-radio-group class="radio_group" formControlName="RadioGroup" aria-label="Select an option">
          <mat-radio-button class="radio_button" value="Option 1">Option 1</mat-radio-button>
          <mat-radio-button class="radio_button" value="Option 2">Option 2</mat-radio-button>
          <mat-radio-button class="radio_button" value="Option 3">Option 3</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="form_input email_input" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@example.com" formControlName="Email" required>
        </mat-form-field>
      </form>
    </mat-card>
  </div>

  <app-common-panel></app-common-panel>
</div>

