.name_panel {
  display: flex;
  justify-content: space-between;

  .fillable_cards {
    width: 335px;
  }

  .name_form, .email_and_options_form, app-common-panel {
    background-color: gainsboro;
    padding: 1rem;
  }

  .name_form, .email_and_options_form {
    margin-bottom: 1rem;
  }

  .form_input {
    width: 290px;
  }

  .email_and_options_form {
    .radio_group {
      display: flex;
      flex-direction: column;
    }

    .radio_button {
      margin-bottom: .5rem;
    }
  }

  app-common-panel {
    flex-basis: 250px;
    height: 447px;
    padding: 0;
  }
}
